
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper{
  width: calc(100% - 80px);
  margin-top: 50px;
  background-color:  #ffe6ff;
  margin-left: 30px;

}

.list-table{
  margin: 35px 0px 0px 0px;
}

.btn-color-2{
      background-color: #f74fba;
  }

.btn-color-1{
      background-color: #a754f7;
  }

.cls-complete{
    background-color: #ccffcc;
}

.table-title h5{
  float: left;
  width: 30%
}
.table-filter .filter-title{
  float: left;
  margin-left: 150px;

}
.table-filter .form-control{
  float: right;
  width: 50%
}
.task-active{
      border: 3px solid #43c423;
}
.error{
    color: red;
}

.success{
    color: green;
}
